In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import seaborn as sns
sns.set_style('whitegrid')
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [5]:
df=pd.read_csv('./input_data/streeteasy.csv')
df.shape

(5000, 20)

In [6]:
df.head()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,All Upper East Side,Manhattan
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,All Downtown,Manhattan
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
3,2919,76909719,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,All Midtown,Manhattan
4,2790,92953520,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,All Downtown,Manhattan

In [7]:
df.describe()

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym
count,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,5526.909400,5.122007e+07,4536.920800,1.395700,1.321600,920.101400,5.079200,10.190200,52.093200,0.429600,0.12860,0.133800,0.228000,0.240000,0.155600,0.045600,0.143800
std,3263.692417,2.802283e+07,2929.838953,0.961018,0.565542,440.150464,5.268897,10.565361,40.224501,0.495069,0.33479,0.340471,0.419585,0.427126,0.362512,0.208637,0.350922
min,1.000000,7.107000e+03,1250.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2699.750000,2.699811e+07,2750.000000,1.000000,1.000000,633.000000,2.000000,3.000000,12.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5456.500000,5.069894e+07,3600.000000,1.000000,1.000000,800.000000,4.000000,6.000000,44.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8306.000000,7.572064e+07,5200.000000,2.000000,2.000000,1094.000000,6.000000,14.000000,89.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11349.000000,9.998721e+07,20000.000000,5.000000,5.000000,4800.000000,51.000000,83.000000,180.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Use Pandas get_dummies to convert categorical data

### BEGIN SOLUTION
df = pd.get_dummies(df)
df.head()
### END SOLUTION

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,...,submarket_Northeast Queens,submarket_Northwest Brooklyn,submarket_Northwest Queens,submarket_Prospect Park,submarket_South Brooklyn,submarket_South Queens,submarket_The Rockaways,borough_Brooklyn,borough_Manhattan,borough_Queens
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,...,0,0,0,0,0,0,0,0,1,0
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,...,0,0,0,0,0,0,0,0,1,0
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,...,0,0,1,0,0,0,0,0,0,1
3,2919,76909719,4500,1.0,1,916,2,51.0,29,0,...,0,0,0,0,0,0,0,0,1,0
4,2790,92953520,4795,1.0,1,975,3,8.0,31,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
print(df.columns)

Index(['rental_id', 'building_id', 'rent', 'bedrooms', 'bathrooms',
       'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 'no_fee',
       ...
       'submarket_Northeast Queens', 'submarket_Northwest Brooklyn',
       'submarket_Northwest Queens', 'submarket_Prospect Park',
       'submarket_South Brooklyn', 'submarket_South Queens',
       'submarket_The Rockaways', 'borough_Brooklyn', 'borough_Manhattan',
       'borough_Queens'],
      dtype='object', length=128)

In [10]:
# Assign X (data) and y (target)

### BEGIN SOLUTION
X = df[['bedrooms', 'bathrooms', 'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 'no_fee',
        'has_roofdeck','has_washer_dryer','has_doorman','has_elevator','has_dishwasher','has_patio','has_gym',
       'submarket_Northeast Queens', 'submarket_Northwest Brooklyn',
       'submarket_Northwest Queens', 'submarket_Prospect Park',
       'submarket_South Brooklyn', 'submarket_South Queens',
       'submarket_The Rockaways', 'borough_Brooklyn', 'borough_Manhattan',
       'borough_Queens']]
y = df["rent"].values.reshape(-1, 1)
print(X.shape, y.shape)
### END SOLUTION

(5000, 24) (5000, 1)

In [11]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
### END SOLUTION

In [12]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 24)
(1000, 24)
(4000, 1)
(1000, 1)

# Scaled

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [15]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [16]:
# Transform the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [69]:
print(X_train_scaled.shape)
print(X_test_scaled.shape)
print(y_train_scaled.shape)
print(y_test_scaled.shape)

(4000, 24)
(1000, 24)
(4000, 1)
(1000, 1)

# LinearRegression

In [70]:
# train_scaled
from sklearn.linear_model import LinearRegression 
lm_model = LinearRegression()
lm_model.fit(X_train_scaled, y_train_scaled)
lm_predictions = lm_model.predict(X_train_scaled)

In [72]:
#pred_train_scaled= model.predict(X_train_scaled)
print(np.sqrt(mean_squared_error(y_train_scaled,lm_predictions)))

lm_pred= lm_model.predict(X_test_scaled)
print(np.sqrt(mean_squared_error(y_test_scaled,lm_pred)))

0.4755138219698087
0.4775604237348876

In [79]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_train_scaled, lm_predictions)
r2 = lm_model.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.2261133948843349, R2: 0.7865380426101911

# LASSO

In [81]:
# LASSO model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Lasso

### BEGIN SOLUTION
lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

lasso_predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, lasso_predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

#MSE: 0.23164832150283815, R2: 0.7831831715156616

MSE: 0.23164832150283815, R2: 0.7831831715156616

# RIDGE

In [82]:
# Ridge model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

### BEGIN SOLUTION
ridge = Ridge(alpha=.01).fit(X_train_scaled, y_train_scaled)

ridge_predictions = ridge.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, ridge_predictions)
r2 = ridge.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

#MSE: 0.2280639465390835, R2: 0.7865380536348072

MSE: 0.2280639465390835, R2: 0.7865380536348072

# ElasticNet model

In [83]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import ElasticNet

### BEGIN SOLUTION
elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)

el_predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, el_predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

#MSE: 0.2295263860678174, R2: 0.785169248117836

MSE: 0.2295263860678174, R2: 0.785169248117836

# XGBoost Regressor

In [75]:
from xgboost import XGBRegressor

In [84]:
XGBModel = XGBRegressor()
XGBModel.fit(X_train_scaled, y_train_scaled , verbose=False)

# Get the mean absolute error on the validation data :
XGBpredictions = XGBModel.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, XGBpredictions)
r2 = XGBModel.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.18586070593291346, R2: 0.8260391936414665

# Neural Network

In [31]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, kernel_initializer= 'normal', activation='relu', input_dim=24))
model.add(Dense(units=1, activation='relu'))
#model.add(Dense(units=2, activation='softmax'))

In [59]:
# Define model
model = Sequential()
model.add(Dense(500, input_dim=24, activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(1))
#model.summary() #Print model Summary

In [60]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 500)               12500
_________________________________________________________________
dense_10 (Dense)             (None, 100)               50100
_________________________________________________________________
dense_11 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 51
=================================================================
Total params: 67,701
Trainable params: 67,701
Non-trainable params: 0
_________________________________________________________________

In [61]:
# Compile and fit the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

In [64]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_scaled,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 4000 samples
Epoch 1/100
4000/4000 - 0s - loss: 0.0602 - mean_squared_error: 0.0602
Epoch 2/100
4000/4000 - 0s - loss: 0.0607 - mean_squared_error: 0.0607
Epoch 3/100
4000/4000 - 0s - loss: 0.0659 - mean_squared_error: 0.0659
Epoch 4/100
4000/4000 - 0s - loss: 0.0635 - mean_squared_error: 0.0635
Epoch 5/100
4000/4000 - 0s - loss: 0.0588 - mean_squared_error: 0.0588
Epoch 6/100
4000/4000 - 0s - loss: 0.0585 - mean_squared_error: 0.0585
Epoch 7/100
4000/4000 - 0s - loss: 0.0574 - mean_squared_error: 0.0574
Epoch 8/100
4000/4000 - 0s - loss: 0.0550 - mean_squared_error: 0.0550
Epoch 9/100
4000/4000 - 0s - loss: 0.0581 - mean_squared_error: 0.0581
Epoch 10/100
4000/4000 - 0s - loss: 0.0570 - mean_squared_error: 0.0570
Epoch 11/100
4000/4000 - 0s - loss: 0.0579 - mean_squared_error: 0.0579
Epoch 12/100
4000/4000 - 0s - loss: 0.0522 - mean_squared_error: 0.0522
Epoch 13/100
4000/4000 - 0s - loss: 0.0526 - mean_squared_error: 0.0526
Epoch 14/100
4000/4000 - 0s - loss: 0.0521 - mean_squared_error: 0.0521
Epoch 15/100
4000/4000 - 0s - loss: 0.0559 - mean_squared_error: 0.0559
Epoch 16/100
4000/4000 - 0s - loss: 0.0507 - mean_squared_error: 0.0507
Epoch 17/100
4000/4000 - 0s - loss: 0.0502 - mean_squared_error: 0.0502
Epoch 18/100
4000/4000 - 0s - loss: 0.0531 - mean_squared_error: 0.0531
Epoch 19/100
4000/4000 - 0s - loss: 0.0483 - mean_squared_error: 0.0483
Epoch 20/100
4000/4000 - 0s - loss: 0.0517 - mean_squared_error: 0.0517
Epoch 21/100
4000/4000 - 0s - loss: 0.0509 - mean_squared_error: 0.0509
Epoch 22/100
4000/4000 - 0s - loss: 0.0512 - mean_squared_error: 0.0512
Epoch 23/100
4000/4000 - 0s - loss: 0.0454 - mean_squared_error: 0.0454
Epoch 24/100
4000/4000 - 0s - loss: 0.0471 - mean_squared_error: 0.0471
Epoch 25/100
4000/4000 - 0s - loss: 0.0471 - mean_squared_error: 0.0471
Epoch 26/100
4000/4000 - 0s - loss: 0.0468 - mean_squared_error: 0.0468
Epoch 27/100
4000/4000 - 0s - loss: 0.0453 - mean_squared_error: 0.0453
Epoch 28/100
4000/4000 - 0s - loss: 0.0470 - mean_squared_error: 0.0470
Epoch 29/100
4000/4000 - 0s - loss: 0.0443 - mean_squared_error: 0.0443
Epoch 30/100
4000/4000 - 0s - loss: 0.0451 - mean_squared_error: 0.0451
Epoch 31/100
4000/4000 - 0s - loss: 0.0442 - mean_squared_error: 0.0442
Epoch 32/100
4000/4000 - 0s - loss: 0.0421 - mean_squared_error: 0.0421
Epoch 33/100
4000/4000 - 0s - loss: 0.0435 - mean_squared_error: 0.0435
Epoch 34/100
4000/4000 - 0s - loss: 0.0412 - mean_squared_error: 0.0412
Epoch 35/100
4000/4000 - 0s - loss: 0.0414 - mean_squared_error: 0.0414
Epoch 36/100
4000/4000 - 0s - loss: 0.0421 - mean_squared_error: 0.0421
Epoch 37/100
4000/4000 - 0s - loss: 0.0433 - mean_squared_error: 0.0433
Epoch 38/100
4000/4000 - 0s - loss: 0.0380 - mean_squared_error: 0.0380
Epoch 39/100
4000/4000 - 0s - loss: 0.0417 - mean_squared_error: 0.0417
Epoch 40/100
4000/4000 - 0s - loss: 0.0395 - mean_squared_error: 0.0395
Epoch 41/100
4000/4000 - 0s - loss: 0.0406 - mean_squared_error: 0.0406
Epoch 42/100
4000/4000 - 0s - loss: 0.0387 - mean_squared_error: 0.0387
Epoch 43/100
4000/4000 - 0s - loss: 0.0389 - mean_squared_error: 0.0389
Epoch 44/100
4000/4000 - 0s - loss: 0.0443 - mean_squared_error: 0.0443
Epoch 45/100
4000/4000 - 0s - loss: 0.0398 - mean_squared_error: 0.0398
Epoch 46/100
4000/4000 - 0s - loss: 0.0397 - mean_squared_error: 0.0397
Epoch 47/100
4000/4000 - 0s - loss: 0.0418 - mean_squared_error: 0.0418
Epoch 48/100
4000/4000 - 0s - loss: 0.0416 - mean_squared_error: 0.0416
Epoch 49/100
4000/4000 - 0s - loss: 0.0343 - mean_squared_error: 0.0343
Epoch 50/100
4000/4000 - 0s - loss: 0.0350 - mean_squared_error: 0.0350
Epoch 51/100
4000/4000 - 0s - loss: 0.0349 - mean_squared_error: 0.0349
Epoch 52/100
4000/4000 - 0s - loss: 0.0366 - mean_squared_error: 0.0366
Epoch 53/100
4000/4000 - 0s - loss: 0.0345 - mean_squared_error: 0.0345
Epoch 54/100
4000/4000 - 0s - loss: 0.0336 - mean_squared_error: 0.0336
Epoch 55/100
4000/4000 - 0s - loss: 0.0332 - mean_squared_error: 0.0332
Epoch 56/100
4000/4000 - 0s - loss: 0.0351 - mean_squared_error: 0.0351
Epoch 57/100
4000/4000 - 0s - loss: 0.0373 - mean_squared_error: 0.0373
Epoch 58/100
4000/4000 - 0s - loss: 0.0327 - mean_squared_error: 0.0327
Epoch 59/100
4000/4000 - 0s - loss: 0.0336 - mean_squared_error: 0.0336
Epoch 60/100
4000/4000 - 0s - loss: 0.0324 - mean_squared_error: 0.0324
Epoch 61/100
4000/4000 - 0s - loss: 0.0338 - mean_squared_error: 0.0338
Epoch 62/100
4000/4000 - 0s - loss: 0.0335 - mean_squared_error: 0.0335
Epoch 63/100
4000/4000 - 0s - loss: 0.0344 - mean_squared_error: 0.0344
Epoch 64/100
4000/4000 - 0s - loss: 0.0348 - mean_squared_error: 0.0348
Epoch 65/100
4000/4000 - 0s - loss: 0.0415 - mean_squared_error: 0.0415
Epoch 66/100
4000/4000 - 0s - loss: 0.0339 - mean_squared_error: 0.0339
Epoch 67/100
4000/4000 - 0s - loss: 0.0300 - mean_squared_error: 0.0300
Epoch 68/100
4000/4000 - 0s - loss: 0.0319 - mean_squared_error: 0.0319
Epoch 69/100
4000/4000 - 0s - loss: 0.0288 - mean_squared_error: 0.0288
Epoch 70/100
4000/4000 - 0s - loss: 0.0282 - mean_squared_error: 0.0282
Epoch 71/100
4000/4000 - 0s - loss: 0.0295 - mean_squared_error: 0.0295
Epoch 72/100
4000/4000 - 0s - loss: 0.0315 - mean_squared_error: 0.0315
Epoch 73/100
4000/4000 - 0s - loss: 0.0303 - mean_squared_error: 0.0303
Epoch 74/100
4000/4000 - 0s - loss: 0.0296 - mean_squared_error: 0.0296
Epoch 75/100
4000/4000 - 0s - loss: 0.0304 - mean_squared_error: 0.0304
Epoch 76/100
4000/4000 - 0s - loss: 0.0301 - mean_squared_error: 0.0301
Epoch 77/100
4000/4000 - 0s - loss: 0.0290 - mean_squared_error: 0.0290
Epoch 78/100
4000/4000 - 0s - loss: 0.0285 - mean_squared_error: 0.0285
Epoch 79/100
4000/4000 - 0s - loss: 0.0310 - mean_squared_error: 0.0310
Epoch 80/100
4000/4000 - 0s - loss: 0.0284 - mean_squared_error: 0.0284
Epoch 81/100
4000/4000 - 0s - loss: 0.0252 - mean_squared_error: 0.0252
Epoch 82/100
4000/4000 - 0s - loss: 0.0260 - mean_squared_error: 0.0260
Epoch 83/100
4000/4000 - 0s - loss: 0.0251 - mean_squared_error: 0.0251
Epoch 84/100
4000/4000 - 0s - loss: 0.0295 - mean_squared_error: 0.0295
Epoch 85/100
4000/4000 - 0s - loss: 0.0311 - mean_squared_error: 0.0311
Epoch 86/100
4000/4000 - 0s - loss: 0.0297 - mean_squared_error: 0.0297
Epoch 87/100
4000/4000 - 0s - loss: 0.0310 - mean_squared_error: 0.0310
Epoch 88/100
4000/4000 - 0s - loss: 0.0333 - mean_squared_error: 0.0333
Epoch 89/100
4000/4000 - 0s - loss: 0.0363 - mean_squared_error: 0.0363
Epoch 90/100
4000/4000 - 0s - loss: 0.0269 - mean_squared_error: 0.0269
Epoch 91/100
4000/4000 - 0s - loss: 0.0267 - mean_squared_error: 0.0267
Epoch 92/100
4000/4000 - 0s - loss: 0.0341 - mean_squared_error: 0.0341
Epoch 93/100
4000/4000 - 0s - loss: 0.0258 - mean_squared_error: 0.0258
Epoch 94/100
4000/4000 - 0s - loss: 0.0264 - mean_squared_error: 0.0264
Epoch 95/100
4000/4000 - 0s - loss: 0.0240 - mean_squared_error: 0.0240
Epoch 96/100
4000/4000 - 0s - loss: 0.0241 - mean_squared_error: 0.0241
Epoch 97/100
4000/4000 - 0s - loss: 0.0246 - mean_squared_error: 0.0246
Epoch 98/100
4000/4000 - 0s - loss: 0.0238 - mean_squared_error: 0.0238
Epoch 99/100
4000/4000 - 0s - loss: 0.0220 - mean_squared_error: 0.0220
Epoch 100/100
4000/4000 - 0s - loss: 0.0254 - mean_squared_error: 0.0254

In [87]:
pred_train_scaled= model.predict(X_train_scaled)
print(np.sqrt(mean_squared_error(y_train_scaled,pred_train_scaled)))

pred= model.predict(X_test_scaled)
print(np.sqrt(mean_squared_error(y_test_scaled, pred))) 

# 0.14748630257944645
# 0.49341150403947387

0.14748630257944645
0.49341150403947387

# Save Deep Learning Model

In [88]:
filepath="C:\\Users\\sumita\\Documents\\RutgersDS\\Project3\\saved_models\\"
model.save(filepath)

WARNING:tensorflow:From C:\Users\sumita\anaconda3\envs\PythonAdv\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1786: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: C:\Users\sumita\Documents\RutgersDS\Project3\saved_models\assets

You can use model.save(filepath) to save the model into a single HDF5 file which will contain:

the architecture of the model, allowing to re-create the model
the weights of the model
the training configuration (loss, optimizer)
the state of the optimizer, allowing to resume training exactly where you left off.
You can then use keras.models.load_model(filepath) to reinstantiate/reload your model.

In [89]:
# Save Xgboost model
import joblib

filename = 'XGBModel.sav'
joblib.dump(XGBModel, filename)

['XGBModel.sav']

In [90]:
filename = 'Linear_Regression_Model.sav'
joblib.dump(lm_model, filename)

['Linear_Regression_Model.sav']

In [91]:
filename = 'lasso_Model.sav'
joblib.dump(lasso, filename)

['lasso_Model.sav']

In [92]:
filename = 'ridge_Model.sav'
joblib.dump(ridge, filename)

['ridge_Model.sav']

In [93]:
filename = 'elasticnet_Model.sav'
joblib.dump(elasticnet, filename)

['elasticnet_Model.sav']

# save the model to disk
filename = 'finalized_model.sav'
joblib.dump(model, filename)
 
# some time later...
 
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, Y_test)
print(result)