## Example of user_input

In [1]:
user_input = {
    "borough": "Manhattan",
    "bedrooms": 2,
    "bathrooms": 1,
    "size_sqft": 1000,
    "min_to_subway": 5,
    "building_age_yrs": 30,    
    "floor": 5,
    "no_fee": 0,
    "has_roofdeck": 0,
    "has_patio": 0,
    "has_gym": 0,
    "has_washer_dryer": 1,
    "has_doorman": 0,
    "has_elevator": 1,
    "has_dishwasher": 0
}

## import dependencies

In [2]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [3]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

## Import Source Data

In [5]:
df=pd.read_csv('../input_data/streeteasy.csv')
df.shape

(5000, 20)

In [6]:
df.head(3)

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,All Upper East Side,Manhattan
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,All Downtown,Manhattan
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens

## "Dummify" Source Data

In [8]:
# Use Pandas get_dummies to convert categorical data

trimmed_df = df.drop(columns=["rental_id","building_id"])
### BEGIN SOLUTION
dummied_df = pd.get_dummies(df)
dummied_df.head(3)
### END SOLUTION

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,...,submarket_Northeast Queens,submarket_Northwest Brooklyn,submarket_Northwest Queens,submarket_Prospect Park,submarket_South Brooklyn,submarket_South Queens,submarket_The Rockaways,borough_Brooklyn,borough_Manhattan,borough_Queens
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,...,0,0,0,0,0,0,0,0,1,0
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,...,0,0,0,0,0,0,0,0,1,0
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,...,0,0,1,0,0,0,0,0,0,1

## Dummify User Input

In [9]:
new_input_dict = {}

for feature in user_input:
    if feature == "borough":
        boroughs = sorted(list(df["borough"].unique()))
        for borough in boroughs:
            if user_input["borough"] == borough:
                new_input_dict[f"borough_{borough}"] = 1
            else:
                new_input_dict[f"borough_{borough}"] = 0
    elif feature == "neighborhood":
        neighborhoods = sorted(list(df["neighborhood"].unique()))
        for neighborhood in neighborhoods:
            if user_input["neighborhood"] == neighborhood:
                new_input_dict[f"neighborhood_{neighborhood}"] = 1
            else:
                new_input_dict[f"neighborhood_{neighborhood}"] = 0
    elif feature == "submarket":
        submarkets = sorted(list(df["submarket"].unique()))
        for submarket in submarkets:
            if user_input["submarket"] == submarket:
                new_input_dict[f"submarket_{submarket}"] = 1
            else:
                new_input_dict[f"submarket_{submarket}"] = 0
        
    else:
        new_input_dict[feature] = user_input[feature]

new_input_dict

{'borough_Brooklyn': 0,
 'borough_Manhattan': 1,
 'borough_Queens': 0,
 'bedrooms': 2,
 'bathrooms': 1,
 'size_sqft': 1000,
 'min_to_subway': 5,
 'building_age_yrs': 30,
 'floor': 5,
 'no_fee': 0,
 'has_roofdeck': 0,
 'has_patio': 0,
 'has_gym': 0,
 'has_washer_dryer': 1,
 'has_doorman': 0,
 'has_elevator': 1,
 'has_dishwasher': 0}

## Select Features

In [11]:
selected_features = list(new_input_dict.keys())
selection_df = dummied_df[selected_features]
selection_df.head(3)

,borough_Brooklyn,borough_Manhattan,borough_Queens,bedrooms,bathrooms,size_sqft,min_to_subway,building_age_yrs,floor,no_fee,has_roofdeck,has_patio,has_gym,has_washer_dryer,has_doorman,has_elevator,has_dishwasher
0,0,1,0,0.0,1,480,9,17,2.0,1,1,0,1,0,0,1,1
1,0,1,0,2.0,2,2000,4,96,1.0,0,0,0,0,0,0,0,0
2,0,0,1,3.0,1,1000,4,106,1.0,0,0,0,0,0,0,0,0

In [12]:
# Assign X (data) and y (target)

### BEGIN SOLUTION
X = selection_df
y = df["rent"].values.reshape(-1, 1)
print(X.shape, y.shape)
### END SOLUTION

(5000, 17) (5000, 1)

## Train/Test Split Data

In [13]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
### END SOLUTION

In [14]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 17)
(1000, 17)
(4000, 1)
(1000, 1)

## Scale Data

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [14]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [15]:
# Transform the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [16]:
print(X_train_scaled.shape)
print(X_test_scaled.shape)
print(y_train_scaled.shape)
print(y_test_scaled.shape)

(4000, 17)
(1000, 17)
(4000, 1)
(1000, 1)

# Model Variables

In [17]:
all_models = {"models":[],
             "mse":[],
             "r2":[]
             }

# LinearRegression

In [18]:
# train_scaled
from sklearn.linear_model import LinearRegression 
lm_model = LinearRegression()
lm_model.fit(X_train_scaled, y_train_scaled)
lm_predictions = lm_model.predict(X_train_scaled)

In [19]:
#pred_train_scaled= model.predict(X_train_scaled)
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y_train_scaled,lm_predictions)))

lm_pred= lm_model.predict(X_test_scaled)
print(np.sqrt(mean_squared_error(y_test_scaled,lm_pred)))

0.48021902868070415
0.4843363415274868

In [20]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_train_scaled, lm_predictions)
r2 = lm_model.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.23061031550703898, R2: 0.7804376129722346

In [21]:
all_models["models"].append(lm_model)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

# Lasso

In [22]:
# LASSO model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Lasso

### BEGIN SOLUTION
lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

lasso_predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, lasso_predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)
### END SOLUTION
print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.23624135377250588, R2: 0.7788842122856748

In [23]:
all_models["models"].append(lasso)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

# Ridge

In [24]:
# Ridge model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

### BEGIN SOLUTION
ridge = Ridge(alpha=.01).fit(X_train_scaled, y_train_scaled)

ridge_predictions = ridge.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, ridge_predictions)
r2 = ridge.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.23465920726355552, R2: 0.7803650604353299

In [25]:
all_models["models"].append(ridge)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

# ElasticNet model

In [26]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import ElasticNet

### BEGIN SOLUTION
elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)

el_predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, el_predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.23521413555947124, R2: 0.7798456619247942

In [27]:
all_models["models"].append(elasticnet)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

# XGBoost Regressor

In [28]:
from xgboost import XGBRegressor
XGBModel = XGBRegressor()
XGBModel.fit(X_train_scaled, y_train_scaled , verbose=False)

# Get the mean absolute error on the validation data :
XGBpredictions = XGBModel.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, XGBpredictions)
r2 = XGBModel.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.19080492190149234, R2: 0.8214115355660948

In [29]:
all_models["models"].append(XGBModel)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

# Neural Network

In [30]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [31]:
# Define model
model = Sequential()
model.add(Dense(500, input_dim=len(new_input_dict.values()), activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(1))

In [32]:
# Compile and fit the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

In [33]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_scaled,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
125/125 - 0s - loss: 0.2590 - mean_squared_error: 0.2590
Epoch 2/100
125/125 - 0s - loss: 0.2003 - mean_squared_error: 0.2003
Epoch 3/100
125/125 - 0s - loss: 0.1907 - mean_squared_error: 0.1907
Epoch 4/100
125/125 - 0s - loss: 0.1822 - mean_squared_error: 0.1822
Epoch 5/100
125/125 - 0s - loss: 0.1659 - mean_squared_error: 0.1659
Epoch 6/100
125/125 - 0s - loss: 0.1640 - mean_squared_error: 0.1640
Epoch 7/100
125/125 - 0s - loss: 0.1574 - mean_squared_error: 0.1574
Epoch 8/100
125/125 - 0s - loss: 0.1611 - mean_squared_error: 0.1611
Epoch 9/100
125/125 - 0s - loss: 0.1483 - mean_squared_error: 0.1483
Epoch 10/100
125/125 - 0s - loss: 0.1421 - mean_squared_error: 0.1421
Epoch 11/100
125/125 - 0s - loss: 0.1429 - mean_squared_error: 0.1429
Epoch 12/100
125/125 - 0s - loss: 0.1387 - mean_squared_error: 0.1387
Epoch 13/100
125/125 - 0s - loss: 0.1354 - mean_squared_error: 0.1354
Epoch 14/100
125/125 - 0s - loss: 0.1254 - mean_squared_error: 0.1254
Epoch 15/100
125/125 - 0s - loss: 0.1268 - mean_squared_error: 0.1268
Epoch 16/100
125/125 - 0s - loss: 0.1255 - mean_squared_error: 0.1255
Epoch 17/100
125/125 - 0s - loss: 0.1192 - mean_squared_error: 0.1192
Epoch 18/100
125/125 - 0s - loss: 0.1208 - mean_squared_error: 0.1208
Epoch 19/100
125/125 - 0s - loss: 0.1220 - mean_squared_error: 0.1220
Epoch 20/100
125/125 - 0s - loss: 0.1173 - mean_squared_error: 0.1173
Epoch 21/100
125/125 - 0s - loss: 0.1143 - mean_squared_error: 0.1143
Epoch 22/100
125/125 - 0s - loss: 0.1146 - mean_squared_error: 0.1146
Epoch 23/100
125/125 - 0s - loss: 0.1053 - mean_squared_error: 0.1053
Epoch 24/100
125/125 - 0s - loss: 0.1076 - mean_squared_error: 0.1076
Epoch 25/100
125/125 - 0s - loss: 0.1023 - mean_squared_error: 0.1023
Epoch 26/100
125/125 - 0s - loss: 0.1038 - mean_squared_error: 0.1038
Epoch 27/100
125/125 - 0s - loss: 0.1007 - mean_squared_error: 0.1007
Epoch 28/100
125/125 - 0s - loss: 0.0962 - mean_squared_error: 0.0962
Epoch 29/100
125/125 - 0s - loss: 0.0961 - mean_squared_error: 0.0961
Epoch 30/100
125/125 - 0s - loss: 0.0927 - mean_squared_error: 0.0927
Epoch 31/100
125/125 - 0s - loss: 0.0929 - mean_squared_error: 0.0929
Epoch 32/100
125/125 - 0s - loss: 0.0923 - mean_squared_error: 0.0923
Epoch 33/100
125/125 - 0s - loss: 0.0917 - mean_squared_error: 0.0917
Epoch 34/100
125/125 - 0s - loss: 0.0853 - mean_squared_error: 0.0853
Epoch 35/100
125/125 - 0s - loss: 0.0826 - mean_squared_error: 0.0826
Epoch 36/100
125/125 - 0s - loss: 0.0806 - mean_squared_error: 0.0806
Epoch 37/100
125/125 - 0s - loss: 0.0813 - mean_squared_error: 0.0813
Epoch 38/100
125/125 - 0s - loss: 0.0817 - mean_squared_error: 0.0817
Epoch 39/100
125/125 - 0s - loss: 0.0849 - mean_squared_error: 0.0849
Epoch 40/100
125/125 - 0s - loss: 0.0818 - mean_squared_error: 0.0818
Epoch 41/100
125/125 - 0s - loss: 0.0757 - mean_squared_error: 0.0757
Epoch 42/100
125/125 - 0s - loss: 0.0728 - mean_squared_error: 0.0728
Epoch 43/100
125/125 - 0s - loss: 0.0762 - mean_squared_error: 0.0762
Epoch 44/100
125/125 - 0s - loss: 0.0736 - mean_squared_error: 0.0736
Epoch 45/100
125/125 - 0s - loss: 0.0761 - mean_squared_error: 0.0761
Epoch 46/100
125/125 - 0s - loss: 0.0717 - mean_squared_error: 0.0717
Epoch 47/100
125/125 - 0s - loss: 0.0712 - mean_squared_error: 0.0712
Epoch 48/100
125/125 - 0s - loss: 0.0680 - mean_squared_error: 0.0680
Epoch 49/100
125/125 - 0s - loss: 0.0706 - mean_squared_error: 0.0706
Epoch 50/100
125/125 - 0s - loss: 0.0674 - mean_squared_error: 0.0674
Epoch 51/100
125/125 - 0s - loss: 0.0659 - mean_squared_error: 0.0659
Epoch 52/100
125/125 - 0s - loss: 0.0662 - mean_squared_error: 0.0662
Epoch 53/100
125/125 - 0s - loss: 0.0658 - mean_squared_error: 0.0658
Epoch 54/100
125/125 - 0s - loss: 0.0650 - mean_squared_error: 0.0650
Epoch 55/100
125/125 - 0s - loss: 0.0623 - mean_squared_error: 0.0623
Epoch 56/100
125/125 - 0s - loss: 0.0614 - mean_squared_error: 0.0614
Epoch 57/100
125/125 - 0s - loss: 0.0621 - mean_squared_error: 0.0621
Epoch 58/100
125/125 - 0s - loss: 0.0580 - mean_squared_error: 0.0580
Epoch 59/100
125/125 - 0s - loss: 0.0591 - mean_squared_error: 0.0591
Epoch 60/100
125/125 - 0s - loss: 0.0558 - mean_squared_error: 0.0558
Epoch 61/100
125/125 - 0s - loss: 0.0581 - mean_squared_error: 0.0581
Epoch 62/100
125/125 - 0s - loss: 0.0592 - mean_squared_error: 0.0592
Epoch 63/100
125/125 - 0s - loss: 0.0722 - mean_squared_error: 0.0722
Epoch 64/100
125/125 - 0s - loss: 0.0673 - mean_squared_error: 0.0673
Epoch 65/100
125/125 - 0s - loss: 0.0616 - mean_squared_error: 0.0616
Epoch 66/100
125/125 - 0s - loss: 0.0588 - mean_squared_error: 0.0588
Epoch 67/100
125/125 - 0s - loss: 0.0590 - mean_squared_error: 0.0590
Epoch 68/100
125/125 - 0s - loss: 0.0597 - mean_squared_error: 0.0597
Epoch 69/100
125/125 - 0s - loss: 0.0596 - mean_squared_error: 0.0596
Epoch 70/100
125/125 - 0s - loss: 0.0524 - mean_squared_error: 0.0524
Epoch 71/100
125/125 - 0s - loss: 0.0505 - mean_squared_error: 0.0505
Epoch 72/100
125/125 - 0s - loss: 0.0517 - mean_squared_error: 0.0517
Epoch 73/100
125/125 - 0s - loss: 0.0509 - mean_squared_error: 0.0509
Epoch 74/100
125/125 - 0s - loss: 0.0518 - mean_squared_error: 0.0518
Epoch 75/100
125/125 - 0s - loss: 0.0499 - mean_squared_error: 0.0499
Epoch 76/100
125/125 - 0s - loss: 0.0512 - mean_squared_error: 0.0512
Epoch 77/100
125/125 - 0s - loss: 0.0508 - mean_squared_error: 0.0508
Epoch 78/100
125/125 - 0s - loss: 0.0508 - mean_squared_error: 0.0508
Epoch 79/100
125/125 - 0s - loss: 0.0503 - mean_squared_error: 0.0503
Epoch 80/100
125/125 - 0s - loss: 0.0518 - mean_squared_error: 0.0518
Epoch 81/100
125/125 - 0s - loss: 0.0520 - mean_squared_error: 0.0520
Epoch 82/100
125/125 - 0s - loss: 0.0490 - mean_squared_error: 0.0490
Epoch 83/100
125/125 - 0s - loss: 0.0494 - mean_squared_error: 0.0494
Epoch 84/100
125/125 - 0s - loss: 0.0459 - mean_squared_error: 0.0459
Epoch 85/100
125/125 - 0s - loss: 0.0464 - mean_squared_error: 0.0464
Epoch 86/100
125/125 - 0s - loss: 0.0496 - mean_squared_error: 0.0496
Epoch 87/100
125/125 - 0s - loss: 0.0466 - mean_squared_error: 0.0466
Epoch 88/100
125/125 - 0s - loss: 0.0455 - mean_squared_error: 0.0455
Epoch 89/100
125/125 - 0s - loss: 0.0443 - mean_squared_error: 0.0443
Epoch 90/100
125/125 - 0s - loss: 0.0443 - mean_squared_error: 0.0443
Epoch 91/100
125/125 - 0s - loss: 0.0457 - mean_squared_error: 0.0457
Epoch 92/100
125/125 - 0s - loss: 0.0484 - mean_squared_error: 0.0484
Epoch 93/100
125/125 - 0s - loss: 0.0442 - mean_squared_error: 0.0442
Epoch 94/100
125/125 - 0s - loss: 0.0432 - mean_squared_error: 0.0432
Epoch 95/100
125/125 - 0s - loss: 0.0438 - mean_squared_error: 0.0438
Epoch 96/100
125/125 - 0s - loss: 0.0440 - mean_squared_error: 0.0440
Epoch 97/100
125/125 - 0s - loss: 0.0400 - mean_squared_error: 0.0400
Epoch 98/100
125/125 - 0s - loss: 0.0404 - mean_squared_error: 0.0404
Epoch 99/100
125/125 - 0s - loss: 0.0420 - mean_squared_error: 0.0420
Epoch 100/100
125/125 - 0s - loss: 0.0415 - mean_squared_error: 0.0415

In [34]:
pred_train_scaled= model.predict(X_train_scaled)
MSE = np.sqrt(mean_squared_error(y_train_scaled,pred_train_scaled))
print(MSE)

pred = model.predict(X_test_scaled)
r2 = np.sqrt(mean_squared_error(y_test_scaled, pred))
print(r2)

0.21091259093753198
0.4804766653616795

In [35]:
all_models["models"].append(model)
all_models["mse"].append(MSE)
all_models["r2"].append(r2)

In [36]:
all_models

{'models': [LinearRegression(),
  Lasso(alpha=0.01),
  Ridge(alpha=0.01),
  ElasticNet(alpha=0.01),
  XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
               colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
               importance_type='gain', interaction_constraints='',
               learning_rate=0.300000012, max_delta_step=0, max_depth=6,
               min_child_weight=1, missing=nan, monotone_constraints='()',
               n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
               reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
               tree_method='exact', validate_parameters=1, verbosity=None),
  <tensorflow.python.keras.engine.sequential.Sequential at 0x257bb319070>],
 'mse': [0.23061031550703898,
  0.23624135377250588,
  0.23465920726355552,
  0.23521413555947124,
  0.19080492190149234,
  0.21091259093753198],
 'r2': [0.7804376129722346,
  0.7788842122856748,
  0.7803650604353299,
  0.7798456619247942,
  0.8214115355660948,
  0.4804766653616795]}

## Scale User Input Data

In [38]:
input_values = list(new_input_dict.values())
input_values_scaled = X_scaler.transform(pd.DataFrame(new_input_dict, index=[0]))
input_values_scaled

array([[-0.50156202,  0.64143012, -0.31544448,  0.65852899, -0.56368355,
         0.19680243, -0.01438414, -0.54614348, -0.4898286 , -0.86589911,
        -0.39081678, -0.21197188, -0.41305871,  2.53399887, -0.54884987,
         1.76740243, -0.432777  ]])

## Get Predictions

In [ ]:
lm_pred_array = y_scaler.inverse_transform([lm_model.predict(input_values_scaled),])
lm_pred = lm_pred_array[0][0][0]

lasso_pred_array = y_scaler.inverse_transform([lasso.predict(input_values_scaled),])
lasso_pred = lasso_pred_array[0][0]

ridge_pred_array = y_scaler.inverse_transform([ridge.predict(input_values_scaled),])
ridge_pred = ridge_pred_array[0][0][0]

elas_pred_array = y_scaler.inverse_transform([elasticnet.predict(input_values_scaled),])
elasticnet_pred = elas_pred_array[0][0]

XGB_pred_array = y_scaler.inverse_transform([XGBModel.predict(input_values_scaled),])
XGB_pred = XGB_pred_array[0][0]

nn_pred_array = y_scaler.inverse_transform([model.predict(input_values_scaled),])
nn_pred = nn_pred_array[0][0][0]

## Package Results

In [ ]:
results = {
    "lm": {"model":"Linear Regression",
          "r2": all_models["r2"][0],
          "prediction": lm_pred},
    "lasso": {"model":"Linear Regression",
          "r2": all_models["r2"][1],
          "prediction": lasso_pred},
    "ridge": {"model":"Ridge",
          "r2": all_models["r2"][2],
          "prediction": ridge_pred},
    "elas": {"model":"ElasticNet",
          "r2": all_models["r2"][3],
          "prediction": elasticnet_pred},
    "xgb": {"model":"XGBoost Regressor",
          "r2": all_models["r2"][4],
          "prediction": XGB_pred},
    "nn": {"model":"Neural Network",
          "r2": all_models["r2"][5],
          "prediction": nn_pred},
}

In [ ]:
results